.especial {color: blue;


}

.line1 {
color: blue;
text-emphasis-color: yellow;

}

.intro {
  text-decoration-style: wavy;
  font-style: normal;
  font-family: fantasy;
  color: #789065;
  font-weight: bolder;
  font-size: 35px

}

p.boring {
  color: blue;
  text-transform: full-width;
  text-decoration: underline;
  text-decoration-style: wavy;

}

h1 {
  color: #534938;

}


body {
  background-color: lightgrey;
}

.intro {
align-self: center;

}

.frame {
  border: 6px solid yellow;
  padding: 10px;
  margin: 100px;
  background-color: hotpink;

}

.marg {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 240px;
  margin-right: 240px;
}
